.calculator {
  max-width: 500px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: black;
}

.keypad {
  gap: 5px;
  margin-top: 10px;
  color: black;
}
.keypad-row{
display:grid;
grid-template-columns: repeat(3, 135px) auto;
gap: 5px;
margin:3px;
}

input[type="text"] {
/*     width: 100%; */
  padding: 5px;
  margin-bottom: 2px;
  appearance:auto;
}  
button {
  padding: 9px;
  font-size: 18px;
  background-color:darkmagenta;
  color: #ccc;
  border-radius:4px
}

.tag {
display: grid;
gap: 9px;
grid-template-columns: auto 50px;
}

.operation{
padding: 9px;
font-size: 18px;
width: 70px;
background-color:darkmagenta;
color: #ccc

}